.informacion {
    background-color: #FF4331;
}

.semejanzas {
    background-color: #04BB03;
}

.vocabulario {
    background-color: #19A9B6;
}

.comprension {
    background-color: #F67227;
}

.dibujos {
    background-color: #BD31FF;
}

.nombres {
    background-color: #3146FF;
}

.matrices {
    background-color: #A1BB03;
}

.conceptos {
    background-color: #19A9B6;
}

.reconocimiento {
    background-color: #FF4331;
}

.busqueda {
    background-color: #F67227;
}